  body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #0f172a;
    min-height: 100vh;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  p,
  ul {
    font-size: 0.9rem;
  }

  h1,
  h2,
  h3,
  p,
  ul,
  .footer {
    color: white;
    margin-top: 0px;
  }

  .footer {
    font-size: 1rem;
  }

  ul {
    color: #8bd8bc;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  #logo {
    width: 4em;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
    z-index: 99;
    position: relative;
  }

  #menu-icon {
    width: 3em;
    display: none;
  }

  .navbar-menu ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
  }

  .hero {
    display: flex;
    flex-direction: row;
    gap: 200px; /* Adjust gap as needed */
    justify-content: center;
    max-width: 1100px;
    padding: 6em 3em;
    align-items: center; /* Added property */
    margin: 0 auto;
  }

  #hero-image {
    /* height: 400px;
    width: 400px; */
    height: 90%;
    width: 100%;
  }

  h2 {
    text-align: center;
    position: relative;
    margin-bottom: 1em;
  }

  h2::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    height: 5px;
    background-color: #8bd8bc;
    z-index: -1;
  }

  .contact-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-icons-and-text {
    width: 40%;
  }

  .contact-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  section {
    margin-bottom: 60px;
  }

  .footer {
    text-align: center;
    margin-bottom: 1em;
  }

  nav, ul, a, footer {
    font-size: 1em;
    text-transform: uppercase;
    color: white
    ;
  }

  .projects {
    padding: 0 3em 6em 3em;
    max-width: 1100px;
    margin: 0 auto;
  }

  .projects-listing {
    display: flex;
    flex-direction: column;
    max-width: auto;
    /* padding-right: 20%;
    padding-left: 20%; */
    /* padding: 6em 3em; */
  }

  .skills {
    display: flex;
    flex-direction: row;
    gap: 10px; 
  }

  .skill {
    background-color: transparent;
    color: #8bd8bc;
    padding: 2.5px 5px;
    border: 1px solid #8bd8bc;
    border-radius: 5px;
  }

  .project {
    display: flex;
    padding-bottom: 1.5em;
    flex-direction: column;
    justify-content: left;
  }

  .hero-cta {
    background-image: linear-gradient(to right, #384454, #629898);
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-image 0.2s ease-in-out;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
  }

  .hero-cta:hover {
    background-image: linear-gradient(to right, #629898, #8bd8bc);  /* Adjust to your additional website color */
  }



  @media screen and (max-width: 1100px) {
    #menu-icon {
      display: block;
    }

    .navbar-menu ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 80px;
      flex-direction: column;
      background: #0f172a;
      text-align: center;
      display: none;
    }

    .navbar-menu ul {
      margin: 3.125em 0;
      line-height: 1.875em;
    }

    .right-hand-side-hero {
      display: none;
    }

    .hero {
      justify-content: center;
    }


    #menu-icon:focus ~ ul {
      left: 0;
    }


  } 